In [1]:
import os

import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

from sklearn import linear_model, metrics

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

In [3]:
df = pd.read_csv(os.path.join('..', 'datasets', 'C:/Users/tcaballero/DS-SF-30/final-project/cube - filtered.csv'))

In [39]:
rows = df.shape[0]
cols = df.shape[1]
print "rows = {} and columns = {}".format(rows, cols)
print df.dtypes

rows = 2309 and columns = 39
customer_id            float64
for_month               object
mrr                      int64
last_yr                 object
last_mrr               float64
                        ...
billing_period          object
age                     object
contract_start_date     object
retention              float64
churn_dollars          float64
dtype: object

In [15]:
df.isnull()

,customer_id,for_month,mrr,last_yr,last_mrr,...,billing_period,age,contract_start_date,retention,churn_dollars
0,False,False,False,False,False,...,True,True,True,False,False
1,False,False,False,True,True,...,True,True,True,True,True
2,False,False,False,False,False,...,True,False,False,False,False
3,False,False,False,True,True,...,True,True,True,True,True
4,False,False,False,False,False,...,True,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
2304,False,False,False,True,True,...,False,False,True,True,True
2305,False,False,False,True,True,...,False,False,False,True,True
2306,False,False,False,True,True,...,False,False,False,True,True
2307,False,False,False,True,True,...,True,True,False,True,True
2308,False,False,False,True,True,...,True,False,False,True,True