# DS-SF-30 | Assignment 09: Linear Regression, Part 3

In [8]:
import os

import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

from sklearn import feature_selection, linear_model

import statsmodels.api as sm
import statsmodels.formula.api as smf

In [9]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-09-credit.csv'))

In [10]:
df

,Income,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,14.891,283,2,34,11,Male,No,Yes,Caucasian,333
1,106.025,483,3,82,15,Female,Yes,Yes,Asian,903
2,104.593,514,4,71,11,Male,No,No,Asian,580
3,148.924,681,3,36,11,Female,No,No,Asian,964
4,55.882,357,2,68,16,Male,No,Yes,Caucasian,331
...,...,...,...,...,...,...,...,...,...,...
395,12.096,307,3,32,13,Male,No,Yes,Caucasian,560
396,13.364,296,5,65,17,Male,No,No,African American,480
397,57.872,321,5,67,12,Female,No,Yes,Caucasian,138
398,37.728,192,1,44,13,Male,No,Yes,Caucasian,0
399,18.701,415,5,64,7,Female,No,No,Asian,966

A description of the dataset is as follows:

- Income (in thousands of dollars)
- Rating: Credit score rating
- Cards: Number of Credit cards owned
- Age
- Education: Years of Education
- Gender: Male/Female
- Student: Yes/No
- Married: Yes/No
- Ethnicity: African American/Asian/Caucasian
- Balance: Average credit card debt

> ## Question 1.  Let's explore the quantitative variables that affect `Balance`.  From your preliminary analysis, which 2 variables seem to affect `Balance` the most?  Our goal is interpretation; can we use these 2 variables simultaneously?  Why or why not?

In [11]:
# TODO
smf.ols(formula = 'Balance ~ Income + Rating + Cards + Age + Education', data = df).fit().summary()
#income and rating are significant

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                Balance   R-squared:                       0.877
Model:                            OLS   Adj. R-squared:                  0.875
Method:                 Least Squares   F-statistic:                     559.3
Date:                Sun, 22 Jan 2017   Prob (F-statistic):          1.97e-176
Time:                        15:32:51   Log-Likelihood:                -2601.1
No. Observations:                 400   AIC:                             5214.
Df Residuals:                     394   BIC:                             5238.
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept   -525.9183     51.522    -10.208      0.000      -627.211  -424.626
Income        -7.5431      0.385    -19.615      0.000        -8.299    -6.787
Rating         3.9366      0.087     45.367      0.000         3.766     4.107
Cards          2.5642      5.990      0.428      0.669        -9.212    14.341
Age           -0.9019      0.481     -1.876      0.061        -1.847     0.043
Education      2.4072      2.609      0.923      0.357        -2.723     7.537
==============================================================================
Omnibus:                       89.950   Durbin-Watson:                   1.911
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              154.560
Skew:                           1.313   Prob(JB):                     2.74e-34
Kurtosis:                       4.541   Cond. No.                     2.50e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.5e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

Answer: TODO

> ## Question 2.  `Ethnicity`, `Gender`, `Married`, and `Student` are categorical variables.  Go ahead and create dummy variables for all of them.

In [16]:
# TODO
df_cat = df[[5,6,7,8]]
df_dum = pd.get_dummies(df_cat)
df_dum

,Gender_Female,Gender_Male,Student_No,Student_Yes,Married_No,Married_Yes,Ethnicity_African American,Ethnicity_Asian,Ethnicity_Caucasian
0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
2,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
3,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
4,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
395,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
396,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
397,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
398,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
399,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0

> ## Question 3.  Using _sklearn_'s linear regression, predict `Balance` using `Income`, `Cards`, `Age`, `Education`, `Gender`, and `Ethnicity`

First, find the coefficients of your regression line.

In [ ]:
# TODO

Then, find the p-values of your F-values' models.  You have a few variables, so try to show your p-values alongside the names of the variables.  (https://docs.python.org/2/library/functions.html#zip)

In [ ]:
# TODO

> ## Question 4.  Which of your coefficients are significant at the 5% significance level?

Answer: TODO

> ## Question 5.  What is your model's $R^2$?

In [ ]:
# TODO

> ## Question 6.  How do we interpret this value?

Answer: TODO

> ## Question 7.  Now let's focus on the two most significant variables from your previous model and re-run your regression model.

In [ ]:
# TODO

> ## Question 8.  In comparison to the previous model, did the $R^2$ increase or decrease?  Why?

In [ ]:
# TODO

Answer: TODO

> ## Question 9.  Now let's regress `Balance` on `Gender` alone.  After running your linear regressions, do you have enough evidence to claim that females have more balance than males?  (Hint: Look at the p-value of the Gender coefficient.  If it is significant then you will have evidence to support that claim, otherwise you cannot support the statement.)

In [ ]:
# TODO

Answer: (If your answer is yes, interpret the results).  TODO

> ## Question 10.  Now let's regress `Balance` on `Ethnicity`.  After running your linear regressions, do you have enough evidence to claim that some ethnic groups carry more balance than others?

In [ ]:
# TODO

Answer: (If your answer is yes, interpret the results).  TODO

> ## Question 11.  Finally let's regress `Balance` on `Student`.  After running your linear regressions, do you have enough evidence to claim that students carry more balance than non-students?

In [ ]:
# TODO

Answer: (If your answer is yes, interpret the results).  TODO

> ## Question 12.  No let's consider the effect of `Student` and `Income` on `Balance` simultaneously.  Are all the coefficients significant?

In [ ]:
# TODO

Answer: (If your answer is yes, interpret the results).  TODO

> ## Question 13.  No let's consider the interaction effect of `Student` and `Income` on `Balance` simultaneously.  Are all the coefficients significant?  It they are, write down your regression model below

(First generate a new variable for the interaction term)

In [ ]:
# TODO

Answer: TODO

> ## Question 14.  Is there any income level at which students and non-students on average carry same level of balance?

Answer: TODO