# DS-SF-30 | Unit Project 3: Machine Learning Modeling

In this project, you will perform a logistic regression on the admissions data we've been working with in Unit Projects 1 and 2.

In [1]:
import os

import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)
pd.set_option('display.notebook_repr_html', True)

import statsmodels.formula.api as smf

from sklearn import linear_model

In [23]:
df = pd.read_csv(os.path.join('..', '..', 'dataset', 'dataset-ucla-admissions.csv'))
df.dropna(inplace = True)

df

     admit    gre   gpa  prestige
0        0  380.0  3.61       3.0
1        1  660.0  3.67       3.0
2        1  800.0  4.00       1.0
3        1  640.0  3.19       4.0
4        0  520.0  2.93       4.0
..     ...    ...   ...       ...
395      0  620.0  4.00       2.0
396      0  560.0  3.04       3.0
397      0  460.0  2.63       2.0
398      0  700.0  3.65       2.0
399      0  600.0  3.89       3.0

[397 rows x 4 columns]

## Part A.  Frequency Table

> ### Question 1.  Create a frequency table for `prestige` and whether an applicant was admitted.

In [24]:
# TODO
pd.crosstab(df.prestige, df.admit, dropna = False)

admit      0   1
prestige
1.0       28  33
2.0       95  53
3.0       93  28
4.0       55  12

## Part B.  Variable Transformations

> ### Question 2.  Create a one-hot encoding for `prestige`.

In [25]:
# TODO
c = df.prestige
hot_c = pd.get_dummies(c, prefix = None)
hot_c

     1.0  2.0  3.0  4.0
0    0.0  0.0  1.0  0.0
1    0.0  0.0  1.0  0.0
2    1.0  0.0  0.0  0.0
3    0.0  0.0  0.0  1.0
4    0.0  0.0  0.0  1.0
..   ...  ...  ...  ...
395  0.0  1.0  0.0  0.0
396  0.0  0.0  1.0  0.0
397  0.0  1.0  0.0  0.0
398  0.0  1.0  0.0  0.0
399  0.0  0.0  1.0  0.0

[397 rows x 4 columns]

> ### Question 3.  How many of these binary variables do we need for modeling?

Answer: we only need 3 of them.

> ### Question 4.  Why are we doing this?

Answer: So we can isolate the effect of each prestige level against admission.

> ### Question 5.  Add all these binary variables in the dataset and remove the now redundant `prestige` feature.

In [27]:
# this keeps giving an error. Come back to this. Jupyter is being sassy :c
df.drop(df[df.prestige].index, prefix = 'prestige')
df = df.join([hot_c])
df.columns

KeyError: '[ 3.  3.  1.  4.  4.  2.  1.  2.  3.  2.  4.  1.  1.  2.  1.  3.  4.  3.\n  2.  1.  3.  2.  4.  4.  2.  1.  1.  4.  2.  1.  4.  3.  3.  3.  1.  2.\n  1.  3.  2.  3.  2.  2.  2.  3.  2.  3.  2.  4.  4.  3.  3.  4.  4.  2.\n  3.  3.  3.  3.  2.  4.  2.  4.  3.  3.  3.  2.  4.  1.  1.  1.  3.  4.\n  4.  2.  4.  3.  3.  3.  1.  1.  4.  2.  2.  4.  3.  2.  2.  2.  1.  2.\n  2.  1.  2.  2.  2.  2.  4.  2.  2.  3.  3.  3.  4.  3.  2.  2.  1.  2.\n  3.  2.  4.  4.  3.  1.  3.  3.  2.  2.  1.  3.  2.  2.  3.  3.  3.  4.\n  1.  4.  2.  4.  2.  2.  2.  3.  2.  3.  4.  3.  2.  1.  2.  4.  4.  3.\n  4.  3.  2.  3.  1.  1.  1.  2.  2.  3.  3.  4.  2.  1.  2.  3.  2.  2.\n  2.  2.  2.  1.  4.  3.  3.  3.  3.  3.  3.  2.  4.  2.  2.  3.  3.  3.\n  3.  4.  2.  2.  4.  2.  3.  2.  2.  2.  3.  3.  4.  2.  2.  3.  4.  3.\n  4.  3.  2.  1.  4.  1.  3.  1.  1.  3.  2.  4.  2.  3.  2.  3.  1.  1.\n  1.  2.  3.  3.  1.  3.  2.  3.  2.  4.  2.  2.  4.  3.  2.  3.  1.  2.\n  2.  4.  3.  2.  1.  3.  2.  1.  3.  2.  2.  3.  3.  4.  4.  2.  4.  4.\n  3.  2.  3.  2.  2.  2.  2.  3.  3.  3.  3.  4.  3.  2.  3.  2.  3.  2.\n  1.  2.  2.  3.  1.  4.  2.  2.  3.  4.  4.  2.  4.  1.  4.  4.  4.  2.\n  2.  2.  1.  1.  3.  1.  2.  2.  3.  2.  3.  2.  2.  3.  4.  1.  2.  2.\n  3.  3.  2.  3.  4.  4.  2.  2.  4.  4.  1.  3.  2.  4.  2.  3.  1.  2.\n  2.  2.  4.  3.  3.  1.  3.  3.  1.  3.  4.  1.  3.  4.  3.  4.  2.  3.\n  3.  2.  2.  2.  2.  2.  3.  3.  2.  2.  1.  2.  1.  3.  3.  1.  1.  2.\n  2.  1.  3.  3.  3.  1.  2.  2.  3.  1.  1.  2.  4.  2.  2.  3.  2.  2.\n  2.  2.  1.  2.  1.  2.  2.  2.  2.  2.  2.  3.  2.  3.  2.  3.  2.  2.\n  3.] not in index'

## Part C.  Hand calculating odds ratios

Let's develop our intuition about expected outcomes by hand calculating odds ratios.

> ### Question 6.  Create a frequency table for `prestige = 1` and whether an applicant was admitted.

In [10]:
# TODO
pd.crosstab(df.prestige==1.0, df.admit==1.0, dropna = False)

admit     False  True
prestige
False       243     93
True         28     33

> ### Question 7.  Use the frequency table above to calculate the odds of being admitted to graduate school for applicants that attended the most prestigious undergraduate schools.

In [19]:
# TODO
p1 = 33./(28.+33.)
odds_p1 = p1/(1-p1)
odds_p1

1.1785714285714288

> ### Question 8.  Now calculate the odds of admission for undergraduates who did not attend a #1 ranked college.

In [18]:
# TODO

p_no = 93. / (243. + 93.)
odds_p_no = p_no /(1-p_no)
odds_p_no

0.3827160493827161

> ### Question 9.  Finally, what's the odds ratio?

In [20]:
# TODO
odds_p1 / odds_p_no

3.079493087557604

> ### Question 10.  Write this finding in a sentence.

Answer: 3 students from a prestigious undergrad get accepted for every 1 student not from prestigious undergrad

> ### Question 11.  Use the frequency table above to calculate the odds of being admitted to graduate school for applicants that attended the least prestigious undergraduate schools.  Then calculate their odds ratio of being admitted to UCLA.  Finally, write this finding in a sentence.

In [ ]:
# TODO

Answer:

## Part C. Analysis using `statsmodels`

> ### Question 12.  Fit a logistic regression model predicting admission into UCLA using `gre`, `gpa`, and the `prestige` of the undergraduate schools.  Use the highest prestige undergraduate schools as your reference point.

In [ ]:
# TODO

> ### Question 13.  Print the model's summary results.

In [ ]:
# TODO

> ### Question 14.  What are the odds ratios of the different features and their 95% confidence intervals?

In [ ]:
# TODO

> ### Question 15.  Interpret the odds ratio for `prestige = 2`.

Answer:

> ### Question 16.  Interpret the odds ratio of `gpa`.

Answer:

> ### Question 17.  Assuming a student with a GRE of 800 and a GPA of 4.  What is his/her probability of admission  if he/she come from a tier-1, tier-2, tier-3, or tier-4 undergraduate school?

In [ ]:
# TODO

Answer:

## Part D. Moving the model from `statsmodels` to `sklearn`

> ### Question 18.  Let's assume we are satisfied with our model.  Remodel it (same features) using `sklearn`.  When creating the logistic regression model with `LogisticRegression(C = 10 ** 2)`.

In [ ]:
# TODO

> ### Question 19.  What are the odds ratios for the different variables and how do they compare with the odds ratios calculated with `statsmodels`?

In [ ]:
# TODO

Answer:

> ### Question 20.  Again, assuming a student with a GRE of 800 and a GPA of 4.  What is his/her probability of admission  if he/she come from a tier-1, tier-2, tier-3, or tier-4 undergraduate school?

In [ ]:
# TODO

Answer: